<div class="col-7">
    <div class="mb-3">
        <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
    </div>
    
    <%= render 'shared/tweet_form', form_submit_path: tweets_path, button_label: "Tweet" %>

    <div id="tweets">
        <%= render partial: "tweets/tweet", collection: @tweet_activities_data[:tweet_activities], as: :tweet_presenter %>
    </div>
</div>

<div class="col">
    <%= render 'shared/hashtag_sidebar' %>
</div>