<div class="col">
    <div class="mb-5">
        <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
            <%= image_tag "back.png", size: "28x28", class: "me-4" %>
            <span style="position:relative; top: 2px;">Messages</span>
        <% end %>
    </div>

    

</div>

<div class="col-6">
    <%= render 'shared/hashtag_sidebar' %>
</div>