<div class="col-7">
    <div class="mb-3">
        <%= link_to @hashtag.tag, hashtags_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
    </div>

    
</div>

<div class="col">
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>